<html>
    <head>
        <title>
            <%= title%>
        </title>

        <script src="https://kit.fontawesome.com/5c4e0f9d2e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="style.css">
        <script src="script.js"></script>
    </head>
    <body>
        <div class="main">
            <form action="/" method="post">
            <h1 class = 'heading'>TO-DO app</h1>
            <label for="desc">Description:</label>

            <input type="text" name="desc" id="desc" placeholder="Description....">
            
            <label for="sel">Category:</label>

            <select name="sel" id="sel" placeholder="select option">
                <option value="select" disabled selected>select option...</option>
                <option value="work">work</option>
                <option value="personal">personel</option>
                <option value="event">event</option>
                <option value="home">home</option>
            </select>
            <label for="datetime">Date and Time:</label>
<div class="datetime">

<div class="datetime-input">
    
        <input type="date" name="date" id="date" required>
        <input type="time" name="time" id="time" required>
    </div>
  
</div>

            <div class="buttons">
                <button type="submit" class="add">ADD</button>
                <button type="button" id="delete" class="del">REMOVE</button>

            </div>
            
            
        
    </form>
    <div class="scrollable">
    <div class="list">
        
        <% for ( let i = data.length-1 ; i >= 0 ; i-- ){  %>
            <div class="list-item">
                <input type="checkbox">
                <div class="sec1">
                <span class="description"><%= data[i].desc %></span>
            
                <div class="sec2">
                <span class="time"><%= data[i].time %></span>
                <span class="date"><%= data[i].date %></span>
            </div>
                </div>  
                
                <span class="cat"><%= data[i].sel %> </span> 
               

            </div>
            <% } %>
        

        </div>
</div>
</div>
    
    </body>
</html>